<VirtualHost *:80>
    ServerName local.www.across-yoyaku.jp
    ServerAdmin www@local.across-yoyaku.jp
    DocumentRoot /home/{{ ansible_env.SUDO_USER }}/www/htdocs/ibaraki.yuki-acros.git/public
    ErrorLog ${APACHE_LOG_DIR}/acros-error.log
    CustomLog ${APACHE_LOG_DIR}/acros-access.log combined
</VirtualHost>