<VirtualHost *:80>
    ServerName local.www.across-yoyaku.jp
    ServerAdmin www@local.across-yoyaku.jp
    DocumentRoot {{ document_root }}
    ErrorLog ${APACHE_LOG_DIR}/acros-error.log
    CustomLog ${APACHE_LOG_DIR}/acros-access.log combined

    <Directory "{{ document_root }}">
        Require all granted
    </Directory>
</VirtualHost>